# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log

# Variables sensibles de Terraform
*.tfvars
*.tfvars.json

# Node.js
node_modules/

# Variables de entorno
.env

# Sistema operativo
.DS_Store
Thumbs.db

# Paquete generado de Lambda Crop
lambda/crop/crop-lambda.zip
